{% extends 'index.html' %}

{% block content %}
    <section id="contact">
        <div class="container">
            <div class="section-title text-center">
                <h3>Contact list</h3>
            </div>
            <div class="col-md-10 col-md-offset-1">
                {% for item in contact_lst %}
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{% url 'manager:update_contact' pk=item.pk %}">
                                <button type="button" class="btn-primary">Close reserve</button>
                            </a>
                        </div>
                        <div class="col-md-3">{{ item.name }}</div>
                        <div class="col-md-3">{{ item.phone }}</div>
                        <div class="col-md-3">{{ item.created_at|date:'d-m-Y' }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"><p>{{ item.message }}</p></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}